#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Qrca
GenericName=Barcode Scanner
Comment=Scan and create QR-Codes
Version=1.0
Exec=qrca
Icon=org.kde.qrca
Type=Application
Terminal=false
Categories=Qt;KDE;Multimedia;
