#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Qrca
Name[ar]=كركا
Name[ast]=Qrca
Name[ca]=Qrca
Name[ca@valencia]=Qrca
Name[cs]=Qrca
Name[de]=Qrca
Name[en_GB]=Qrca
Name[eo]=Qrca
Name[es]=Qrca
Name[et]=Qrca
Name[eu]=Qrca
Name[fi]=Qrca
Name[fr]=Qrca
Name[gl]=Qrca
Name[he]=Qrca
Name[hi]=क्यूआरसीए
Name[hu]=Qrca
Name[ia]=Qrca
Name[it]=Qrca
Name[ka]=Qrca
Name[ko]=Qrca
Name[lv]=Qrca
Name[nl]=Qrca
Name[nn]=Qrca
Name[pa]=Qrca
Name[pl]=Qrca
Name[pt]=Qrca
Name[pt_BR]=Qrca
Name[ro]=Qrca
Name[ru]=Qrca
Name[sa]=Qrca
Name[sk]=Qrca
Name[sl]=Qrca
Name[sv]=Qrca
Name[tg]=Qrca
Name[tr]=Qrca
Name[uk]=Qrca
Name[zh_CN]=Qrca
Name[zh_TW]=Qrca
GenericName=Barcode Scanner
GenericName[ar]=ماسح رموز
GenericName[ast]=Escáner de códigos de barres
GenericName[ca]=Escàner de codi de barres
GenericName[ca@valencia]=Escàner de codi de barres
GenericName[cs]=Čtečka čarových kódů
GenericName[de]=Strichcode-Scanner
GenericName[en_GB]=Barcode Scanner
GenericName[eo]=Strikoda Skanilo
GenericName[es]=Escáner de códigos de barras
GenericName[et]=Ribakoodi skanner
GenericName[eu]=Barra-kode eskanerra
GenericName[fi]=Viivakoodinlukija
GenericName[fr]=Analyseur de codes-barres
GenericName[gl]=Escáner de códigos de barras
GenericName[he]=סורק ברקודים
GenericName[hi]=बारकोड स्कैनर
GenericName[hu]=Vonalkódolvasó
GenericName[ia]=Scanner (scanditor) de Codice a barras (barcode)
GenericName[it]=Scanner di codici a barre
GenericName[ka]=ბარკოდის სკანერი
GenericName[ko]=바코드 스캐너
GenericName[lv]=Svītrkodu skeneris
GenericName[nl]=Barcodescanner
GenericName[nn]=Strekkode-skannar
GenericName[pa]=ਬਾਰਕੋਡ ਸਕੈਨਰ
GenericName[pl]=Skaner kodów kreskowych
GenericName[pt]=Leitor de Códigos de Barras
GenericName[pt_BR]=Leitor de código de barras
GenericName[ro]=Cititor de coduri de bare
GenericName[ru]=Сканер штрихкодов
GenericName[sa]=बारकोड स्कैनर
GenericName[sk]=Cítačka čiarových kódov
GenericName[sl]=Skener črtne kode
GenericName[sv]=Streckkodsläsare
GenericName[tg]=Сканнери рамзи наворӣ
GenericName[tr]=Barkod Tarayıcısı
GenericName[uk]=Засіб сканування штрихкодів
GenericName[zh_CN]=二维码扫描器
GenericName[zh_TW]=條碼掃描器
Comment=Scan and create QR-Codes
Comment[ar]=مسح وإنشاء رموز الاستجابة السريعة
Comment[ast]=Escania y crea códigos QR
Comment[ca]=Escaneja i crea codis QR
Comment[ca@valencia]=Escaneja i crea codis QR
Comment[cs]=Skenujte a vytvářejte QR kódy
Comment[de]=Scannen und Erstellen von QR-Codes
Comment[en_GB]=Scan and create QR-Codes
Comment[eo]=Skani kaj krei QR-kodojn
Comment[es]=Escanear y crear códigos QR
Comment[et]=QR-koodi skannimine ja loomine
Comment[eu]=Eskaneatu eta sortu QR-Kodeak
Comment[fi]=Lue ja luo QR-koodeja
Comment[fr]=Analysez et créez des codes QR
Comment[gl]=Dixitalizar e crear códigos QR.
Comment[he]=סריקה ויצירה של קודים מסוג QR
Comment[hi]=QR-कोड स्कैन करें और बनाएं
Comment[hu]=QR-kódok olvasása és létrehozása
Comment[ia]=Scande e crea codices QR
Comment[it]=Scansiona e crea codici QR
Comment[ka]=QR კოდის სკანირება და შექმნა
Comment[ko]=QR 코드 스캔 및 생성
Comment[lv]=Skenējiet un izveidojiet kvadrātkodus
Comment[nl]=QR-Codes scannen en aanmaken
Comment[nn]=Skann og lag QR-kodar
Comment[pa]=QR-ਕੋਡ ਸਕੈਨ ਕਰੋ ਤੇ ਬਣਾਓ
Comment[pl]=Skanuj i twórz kody QR
Comment[pt]=Digitalizar e criar códigos QR
Comment[pt_BR]=Leia e crie códigos QR
Comment[ro]=Citește și creează coduri QR
Comment[ru]=Сканирование и создание QR-кодов
Comment[sa]=स्कैन् कृत्वा QR-Codes रचयन्तु
Comment[sk]=Cítanie a vytváranie QR kódov
Comment[sl]=Skenira in ustvarja kode QR
Comment[sv]=Läs och skapa QR-koder
Comment[tg]=Рамзҳои QR-ро мушоҳида ё эҷод намоед
Comment[tr]=Kare kod tarayın ve oluşturun
Comment[uk]=Сканування і створення QR-кодів
Comment[zh_CN]=扫描和创建二维码
Comment[zh_TW]=掃描及建立 QR 碼
Version=1.0
Exec=qrca
Icon=org.kde.qrca
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
SingleMainWindow=true
