#!/usr/bin/env xdg-open
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2025 Kai Uwe Broulik <kde@broulik.de>
[Desktop Entry]
Name=Qrca Wifi scanner
Name[ar]=ماسح شبكات لا سلكية كركا
Name[ca]=Escàner de Wifi Qrca
Name[ca@valencia]=Escàner de Wifi Qrca
Name[eo]=Qrca Vifi-skanilo
Name[es]=Escáner wifi Qrca
Name[eu]=Qrca Wi-Fi eskanerra
Name[fi]=Qrca:n langattoman verkon lukija
Name[fr]=Analyseur Qrca de Wifi
Name[gl]=Escáner de wifi de Qrca
Name[he]=Qrca - סורק רשתות אלחוטיות
Name[ia]=Scanner (scanditor) Wifi de Orca
Name[it]=Scanner wifi Qrca
Name[ka]=Qrca Wifi-ის სკანერი
Name[ko]=Qrca Wi-Fi 스캐너
Name[lv]=„Qrca“ „Wi-Fi“ skeneris
Name[nl]=Qrca wifi-scanner
Name[pl]=Skaner Wifi Qrca
Name[pt_BR]=Qrca leitor de códigos QR de redes Wifi
Name[ru]=Сканер Wi-Fi Qrca
Name[sl]=Qrca Wifi skener
Name[sv]=Qrca WIFI-läsare
Name[tr]=Qrca Wi-Fi Tarayıcısı
Name[uk]=Сканер WiFi Qrca
Name[x-test]=xxQrca Wifi scannerxx
Name[zh_CN]=Qrca WiFi 扫描器
Name[zh_TW]=Qrca Wifi 掃描器
GenericName=Wifi Barcode Scanner
GenericName[ar]=ماسح رموز شبكة لا سلكية
GenericName[ca]=Escàner de codi de barres Wifi
GenericName[ca@valencia]=Escàner de codi de barres Wifi
GenericName[eo]=Vifia Strikoda Skanilo
GenericName[es]=Escáner de códigos de barras wifi
GenericName[eu]=Wi-Fi barra-kode eskanerra
GenericName[fi]=Langattoman verkon viivakoodin lukija
GenericName[fr]=Analyseur de codes-barres Wifi
GenericName[gl]=Escáner de códigos de barras de wifi
GenericName[he]=סורק ברקודים של רשתות אלחוטיות
GenericName[ia]=Scanner (scanditor) de Codice a barras (barcode) Wifi
GenericName[it]=Scanner di codici a barre wifi
GenericName[ka]=Wifi ბარკოდის სკანერი
GenericName[ko]=Wi-Fi 바코드 스캐너
GenericName[lv]=„Wi-Fi“ svītrkodu skeneris
GenericName[nl]=Wifi-barcodescanner
GenericName[pl]=Skaner kodów kreskowych Wifi
GenericName[pt_BR]=Leitor de código de barras de redes Wifi
GenericName[ru]=Сканер штрихкодов Wi-Fi
GenericName[sl]=Wifi čitalnik črtne kode
GenericName[sv]=WIFI-streckkodsläsare
GenericName[tr]=Wi-Fi Barkod Tarayıcısı
GenericName[uk]=Засіб сканування штрихкодів WiFi
GenericName[x-test]=xxWifi Barcode Scannerxx
GenericName[zh_CN]=WiFi 二维码扫描器
GenericName[zh_TW]=Wifi 條碼掃描器
Comment=Scan for Wifi QR-Codes
Comment[ar]=مسح رموز الاستجابة السريعة للشبكات اللاسلكية
Comment[ca]=Escaneja codis QR de Wifi
Comment[ca@valencia]=Escaneja codis QR de Wifi
Comment[eo]=Skani pri Vifiaj QR-Kodoj
Comment[es]=Escanear códigos QR wifi
Comment[eu]=Eskaneatu Wi-Fo QR-Kodeen bila
Comment[fi]=Lue langattoman verkon QR-koodit
Comment[fr]=Analyser pour trouver des codes « QR » pour Wifi
Comment[gl]=Busque códigos QR de wifi.
Comment[he]=סריקה של קודים מסוג QR של סיסמאות לרשתות אלחוטיות
Comment[ia]=Scande per codices QR de Wifi
Comment[it]=Scansiona i codici wifi
Comment[ka]=Wifi QR კოდის სკანირება
Comment[ko]=Wi-Fi QR 코드 스캔
Comment[lv]=Skenējiet bezvadu interneta kvadrātkodus
Comment[nl]=Scannen op wifi-QR-codes
Comment[pl]=Skanuj kody QR do Wifi
Comment[pt_BR]=Leia códigos QR de redes Wifi
Comment[ru]=Сканирование QR-кодов Wi-Fi
Comment[sl]=Skeniranje Wifi kod QR
Comment[sv]=Läs av WIFI QR-koder
Comment[tr]=Wi-Fi kare kodlarını tarayın
Comment[uk]=Сканування QR-кодів WiFi
Comment[x-test]=xxScan for Wifi QR-Codesxx
Comment[zh_CN]=扫描 WiFi 二维码
Comment[zh_TW]=掃描 Wifi QR 碼
Version=1.0
Exec=qrca --wifi
Icon=org.kde.qrca
Type=Application
Terminal=false
Categories=Qt;KDE;AudioVideo;
NoDisplay=true
