#!/usr/bin/env xdg-open
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2025 Kai Uwe Broulik <kde@broulik.de>
[Desktop Entry]
Name=Qrca Wi-Fi scanner
Name[ar]=ماسح واي فاي كركا
Name[ca]=Escàner de Wifi Qrca
Name[es]=Escáner wifi Qrca
Name[he]=Qrca - סורק קודים לרשתות אלחוטיות
Name[ka]=Qrca Wi-Fi-ის სკანერი
Name[nl]=Qrca wi-fi-scanner
Name[pt_BR]=Leitor de Wifi do Qrca
Name[sl]=Qrca Wi-Fi skener
Name[tr]=Qrca Wi-Fi Tarayıcısı
Name[uk]=Сканер Wi-Fi Qrca
GenericName=Wi-Fi QR Code Scanner
GenericName[ar]=ماسح رمز الاستجابة السريعة لواي فاي
GenericName[ca]=Escàner de codi QR Wifi
GenericName[es]=Escáner de códigos QR wifi
GenericName[he]=סורק קודים מסוג QR של רשתות אלחוטיות
GenericName[ka]=Wi-Fi QR ბარკოდის სკანერი
GenericName[nl]=Wi-fi QR-codescanner
GenericName[pt_BR]=Leitor de código QR de redes Wifi
GenericName[sl]=Wi-Fi čitalnik črtne kode
GenericName[tr]=Wi-Fi Kare Kodu Tarayıcısı
GenericName[uk]=Засіб сканування QR-кодів Wi-Fi
Comment=Scan Wi-Fi QR codes
Comment[ar]=مسح رموز الاستجابة السريعة لواي فاي
Comment[ca]=Escaneja codis QR de Wi-Fi
Comment[es]=Escanear códigos QR wifi
Comment[he]=סריקת קודים מסוג QR של רשתות אלחוטיות
Comment[ka]=Wi-Fi QR კოდის სკანირება
Comment[nl]=Scan op Wi-Fi-QR-codes
Comment[pt_BR]=Leia códigos QR de redes Wifi
Comment[sl]=Skeniranje Wi-Fi kod QR
Comment[tr]=Wi-Fi kare kodlarını tarayın
Comment[uk]=Сканування QR-кодів Wi-Fi
Version=1.0
Exec=qrca --wifi
Icon=org.kde.qrca
Type=Application
Terminal=false
Categories=Qt;KDE;Utility;
NoDisplay=true
SingleMainWindow=true
